:root {
  --brown: #3f2d20;
  --green: #84bd93;
  --orange: #ef8829;
  --main: #73665c;
  --cream: #fff5e0;
  --darkcream: #ffe2cd;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--green);
  padding: 2rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
