html {
  margin: 0;
  padding: 0;
}

:root {
  --brown: #3f2d20;
  --green: #84bd93;
  --orange: #ef8829;
  --main: #73665c;
  --cream: #fff5e0;
  --darkcream: #ffe2cd;
  --menu: #bcb3ab;
  --sizes: #bb3e03;
  margin: 0;
  scroll-behavior: smooth;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--green);
  padding: 0.5rem;
}
a {
  text-decoration: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media screen and (min-width: 1024px) {
  body {
    padding: 3rem;
  }
}
