.basket--wrapper {
  z-index: 10;
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #b5d3b2;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  min-height: -moz-available;
  min-height: -webkit-fill-available;
  min-height: fill-available;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background-position: center;
}

.basket--fade-anchor {
  position: relative;
}

.basket--content::-webkit-scrollbar {
  display: none;
}

.basket--content {
  max-height: 550px;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin: auto;
  padding: 0 1.8em;
  align-items: center;
  width: 100%;
  max-width: 300px;
  background-color: var(--darkcream);
  border: 3px solid black;
  box-shadow: 5px 5px var(--brown);
  border-radius: 37px;
  transition-duration: 200ms;
  position: relative;
}

.basket--content h1 {
  font-size: 2rem;
  margin-top: 0;
}

.basket--fade-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 3rem;
  width: 100%;
  background: -webkit-linear-gradient(transparent, var(--darkcream));
  background: -o-linear-gradient(var(--darkcream), transparent);
  background: -moz-linear-gradient(var(--darkcream), transparent);
  background: linear-gradient(var(--darkcream), transparent);
}

.basket--fade-bottom {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  height: 3rem;
  width: 100%;
  background: -webkit-linear-gradient(transparent, var(--darkcream));
  background: -o-linear-gradient(transparent, var(--darkcream));
  background: -moz-linear-gradient(transparent, var(--darkcream));
  background: linear-gradient(transparent, var(--darkcream));
}

.basket--grid-item img {
  max-width: 94px;
}

.basket--grid-item h3 {
  margin: 0 auto 0 auto;
}

.basket--price {
  font-size: 1.3rem;
  font-weight: 500;
  padding-top: 0.3em;
}

.basket--total-price {
  font-size: 1.563rem;
  font-weight: 600;
  text-align: right;
  padding-right: 2em;
  color: var(--orange);
  margin: 0;
}

.basket--grid-container {
  display: grid;
  grid-template-columns: repeat(2, 8.5rem);
  grid-template-rows: repeat(2, 4rem);
  gap: 0;
  justify-self: center;
  transition-duration: 200ms;
}

.basket--qty-btn {
  margin-top: 0.5rem;
}

.basket--grid-container p,
.basket--grid-container h2 {
  margin: 0;
}

.basket--img {
  width: 100px;
  border: 2px solid black;
  border-radius: 7px;
}

.basket--tax {
  padding-top: 1rem;
}

.basket--continue-shopping {
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 500;
  transition-duration: 200ms;
}

.basket--processing-order-img {
  max-width: 500px;
  width: 100%;
}

.basket--continue-shopping:hover {
  color: var(--brown);
}

.basket--placed-order {
  display: flex;
  flex-direction: column;
}
.basket--processing-order-img {
  animation: fadeIn 400ms;
  margin: auto;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

hr {
  border-top: 1px dotted var(--brown);
  width: 80%;
}

@media screen and (min-width: 668px) {
  .basket--content {
    padding: 0, 2em;
    width: 100%;
    max-width: 400px;
  }
  .basket--grid-container {
    grid-template-columns: repeat(3, 8rem);
    grid-template-rows: repeat(2, 3.5rem);
    gap: 0.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .basket--content {
    max-width: 650px;
    max-height: 750px;
  }

  .basket--grid-container {
    display: grid;
    grid-template-columns: 100px 200px 150px 100px;
    grid-template-rows: 80px;
    gap: 2rem;
  }

  .basket--grid-item img {
    max-width: 100px;
  }

  .hide {
    display: none;
  }
}
