.footer--wrapper {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 33px 33px;
  margin: 0 -3em -3em -3em;
  background: linear-gradient(to bottom, var(--orange) 0%, var(--orange) 100%)
    no-repeat;
  background-size: calc(100%) calc(75%);
  background-position: bottom;
}
.footer--wrapper h1 {
  padding-top: 1em;
  text-align: center;
  font-size: 2rem;
  color: var(--brown);
}

#footer--our {
  font-weight: 400;
}

.footer--content {
  max-width: 1250px;
  width: 100%;
}

#footer--map-img {
  display: none;
  margin: auto;
  max-width: 1079px;
  width: 90%;
}

#footer--map-img-mobile {
  display: flex;
  margin: auto;
  max-width: 594px;
  width: 90%;
}

.footer--info {
  display: flex;
  margin: auto;
  padding: 8rem 0 3rem 0;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 1rem;
  max-width: 1250px;
  width: 100%;
}

.footer--col1 p,
.footer--col2 p,
.footer--col3 p {
  color: var(--cream);
  font-weight: 500;
}

.footer--col1,
.footer--col2,
.footer--col3 {
  /* max-width: 227px; */
  margin: 0 1.5rem 0 1.5rem;
}

.footer--col3 span {
  font-size: 0.7rem;
  text-align: left;
}

.footer--col1 {
  hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
}

.footnote {
  color: var(--cream);
  text-align: center;
  font-size: 0.8rem;
  padding: 1rem 0;
}

@media screen and (min-width: 768px) {
  .footer--wrapper {
    background-size: calc(100%) calc(66%);
  }

  .footer--col1,
  .footer--col2,
  .footer--col3 {
    margin: 0 3rem 0 3rem;
  }

  .footer--info {
    flex-direction: row;
    text-align: left;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1250px;
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  #footer--map-img {
    display: flex;
  }

  #footer--map-img-mobile {
    display: none;
  }

  .footer--wrapper h1 {
    font-size: 4rem;
  }
  .footer--wrapper {
    background-size: calc(100%) calc(58%);
  }
  .footer--info {
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer--col1,
  .footer--col2,
  .footer--col3 {
    max-width: 227px;
    margin: 0 1.5rem 0 1.5rem;
  }
}
