.navbar--wrapper {
  margin-top: -0.7em;
  display: flex;
  flex-direction: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.logo {
  width: 100px;
}

.navbar--menu-container {
  display: none;
  justify-content: space-between;
}

.navbar--menu-container p {
  font-size: 1rem;
  padding-right: 2rem;
  font-weight: 700;
  color: var(--menu);
  transition-duration: 300ms;
  cursor: pointer;
}

.navbar--menu-container-mobile {
  z-index: 5;
  position: absolute;
  transform: translateX(20px);
  width: 50%;
  top: 10;
  right: 4rem;
  padding: 3rem;
  background-color: var(--green);
  border-radius: 2rem;
  border: 3px solid black;
  box-shadow: -6px 6px var(--brown), -6px 6px 0 1px black;
}

.navbar--hamburger {
  z-index: 10;
}

.navbar--menu-container-mobile p {
  font-size: 2.5rem;
  text-align: left;
  font-weight: 700;
  color: var(--cream);
  line-height: 2rem;
  transition-duration: 300ms;
  cursor: pointer;
}

.navbar--menu-container img {
  transition-duration: 300ms;
  width: 1.6rem;
  height: 1.6rem;
}
.navbar--menu-container p:hover:after {
  content: "";
  display: block;
  position: absolute;
  border-bottom: 3px solid var(--green);
  -webkit-animation-name: grow_border;
  -webkit-animation-duration: 200ms;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-name: grow_border;
  -moz-animation-duration: 200ms;
  -moz-animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  border-radius: 10rem;
}

.navbar--menu-container p:hover,
.navbar--menu-container-mobile p:active {
  color: var(--brown);
}

.navbar--menu-container img:hover {
  transform: scale(1.02);
  transform: rotate(-5deg);
  cursor: pointer;
}

@keyframes grow_border {
  0% {
    width: 0;
  }
  50% {
    width: 13px;
  }
  100% {
    width: 26px;
  }
}

.navbar--item-count {
  display: flex;
  align-items: center;
  width: 3rem;
}

#navbar--how-many-items-mobile {
  margin: -5px auto auto auto;
  position: relative;
  font-size: 0.8rem;
  color: var(--cream);
  left: -20%;
  padding: 0.1rem 0.5rem;
}

#navbar--how-many-items {
  margin: auto;
  position: relative;
  font-size: 0.8rem;
  color: var(--cream);
  top: -25%;
  left: -18%;
  padding: 0.1rem 0.5rem;
}

@media screen and (min-width: 769px) {
  .navbar--menu-container p {
    padding-right: 4.375rem;
  }
}

@media screen and (min-width: 1024px) {
  .navbar--wrapper {
    align-items: center;
  }
  .logo {
    width: 160px;
  }
  .navbar--menu-container {
    display: flex;
  }

  .navbar--menu-container-mobile,
  .navbar--hamburger {
    display: none;
  }

  .navbar--menu-container img {
    width: 1.3rem;
  }
}

@media screen and (min-width: 1201px) {
}
