.whyus--wrapper h1 {
  padding-top: 1em;
  text-align: center;
  font-size: 2rem;
  color: var(--brown);
}

#whyus--why {
  font-weight: 400;
}

.whyus--content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}

.whyus--content img {
  max-width: 450px;
  padding-bottom: 3rem;
  width: 100%;
}

.whyus--text {
  max-width: 500px;
  text-align: justify;
  text-justify: inter-word;
}

.whyus--text h2 {
  margin-top: 0;
  color: var(--brown);
}

@media screen and (min-width: 1024px) {
  .whyus--wrapper h1 {
    font-size: 4rem;
  }
}

@media screen and (min-width: 1182px) {
  .whyus--content img {
    padding-bottom: 0;
  }
}
